name: pr-review
on:
    pull_request:
        types: [opened, synchronize]
jobs:
    review:
        name: ChatGPT code review
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
              with:
                egress-policy: audit
            - uses: agogear/chatgpt-pr-review@0.0.13
              with:
                  openai_api_key: ${{ secrets.OPENAI_API_KEY }}
                  github_token: ${{ secrets.TOKEN }}
                  github_pr_id: ${{ github.event.number }}
                  files:  "*.py"
                  openai_model: gpt-4o-mini